In [3]:
# importing the data

import pandas as pd

df = pd.read_csv('/content/Speed_Dating.csv', encoding = 'iso-8859-1')

df.head()

   iid   id  gender  idg  condtn  ...  attr5_3  sinc5_3  intel5_3  fun5_3  amb5_3
0    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
1    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
2    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
3    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
4    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN

[5 rows x 195 columns]

In [4]:
df.shape # checking how many rows and columns I'm working with

(8378, 195)

In [5]:
df.isna().sum() # checking for NaN values

iid            0
id             1
gender         0
idg            0
condtn         0
            ...
attr5_3     6362
sinc5_3     6362
intel5_3    6362
fun5_3      6362
amb5_3      6362
Length: 195, dtype: int64

In [6]:
# creating a new dataframe with only the columns I care about for the analysis

dating = (df.filter(['gender', 'order', 'match', 'age', 'field', 'field_cd', 'race', 'imprelig', 'from', 'goal', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'imprace'], axis = 1))

dating.head()

   gender  order  match   age field  ...  intel_o  fun_o  amb_o shar_o  imprace
0       0      4      0  21.0   Law  ...      8.0    8.0    8.0    6.0      2.0
1       0      3      0  21.0   Law  ...     10.0    7.0    7.0    5.0      2.0
2       0     10      1  21.0   Law  ...     10.0   10.0   10.0   10.0      2.0
3       0      5      1  21.0   Law  ...      9.0    8.0    9.0    8.0      2.0
4       0      7      1  21.0   Law  ...      9.0    6.0    9.0    7.0      2.0

[5 rows x 23 columns]

In [7]:
dating.describe()

            gender        order  ...       shar_o      imprace
count  8378.000000  8378.000000  ...  7302.000000  8299.000000
mean      0.500597     8.927668  ...     5.474870     3.784793
std       0.500029     5.477009  ...     2.156163     2.845708
min       0.000000     1.000000  ...     0.000000     0.000000
25%       0.000000     4.000000  ...     4.000000     1.000000
50%       1.000000     8.000000  ...     6.000000     3.000000
75%       1.000000    13.000000  ...     7.000000     6.000000
max       1.000000    22.000000  ...    10.000000    10.000000

[8 rows x 21 columns]



*   columns with a "_o" such as "amb_o", "sinc_o" are what each participant rated their date on a scale of 1 - 10 on sincerity, ambition, etc

*   columns with "1_1" such as "amb1_1", "sinc1_1" are how important that attribute (ambition, sincerity, etc) is to the participant (some were asked to rate from 0 - 10 and some were asked to distribute 100 points amongst all of the attributes)

In [8]:
# making everything lowercase in the 'field' and 'from' columns

dating['field'] = dating['field'].str.lower()
dating['from'] = dating['from'].str.lower()

## **What was everyone's goal in participating in the speed dating event?**

In [9]:
import plotly.io as pio

In [10]:
# replacing all of the numerical values with their categorical value

dating['goal'].replace(1, 'Seemed like a fun night out', inplace=True)
dating['goal'].replace(2, 'To meet new people', inplace=True)
dating['goal'].replace(3, 'To get a date', inplace=True)
dating['goal'].replace(4, 'Looking for a serious relationship', inplace=True)
dating['goal'].replace(5, 'To say I did it', inplace=True)
dating['goal'].replace(6, 'Other', inplace=True)

In [12]:
!pip install plotly>=4.0.0
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

--2020-08-17 01:20:23--  https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github-production-release-asset-2e65be.s3.amazonaws.com/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200817%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200817T012023Z&X-Amz-Expires=300&X-Amz-Signature=bc5c66887df86c300fd62e10d458f835cfd1e1441e6ef634cee04dc29510d6de&X-Amz-SignedHeaders=host&actor_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream [following]
--2020-08-17 01:20:23--  https://github-production-release-asset-2e65be.s3.amazonaws.com/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200817%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200817T012023Z&X-Amz-Expires=300&X-Amz-Signature=bc5c66887df86c300fd62e10d458f835cfd1e1441e6ef634cee04dc29510d6de&X-Amz-SignedHeaders=host&actor_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream
Resolving github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)... 52.216.90.108
Connecting to github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)|52.216.90.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51607939 (49M) [application/octet-stream]
Saving to: ‘/usr/local/bin/orca’

/usr/local/bin/orca 100%[===================>]  49.22M  72.4MB/s    in 0.7s

2020-08-17 01:20:24 (72.4 MB/s) - ‘/usr/local/bin/orca’ saved [51607939/51607939]

Reading package lists... Done
Building dependency tree
Reading state information... Done
libgtk2.0-0 is already the newest version (2.24.32-1ubuntu1).
libgtk2.0-0 set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2
The following NEW packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2
  libgconf-2-4 xvfb
0 upgraded, 6 newly installed, 0 to remove and 35 not upgraded.
Need to get 1,687 kB of archives.
After this operation, 10.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libdbus-glib-1-2 amd64 0.110-2 [58.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 gconf2-common all 3.2.6-4ubuntu1 [700 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libgconf-2-4 amd64 3.2.6-4ubuntu1 [84.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 gconf-service-backend amd64 3.2.6-4ubuntu1 [58.1 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 gconf-service amd64 3.2.6-4ubuntu1 [2,036 B]
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 xvfb amd64 2:1.19.6-1ubuntu4.4 [784 kB]
Fetched 1,687 kB in 1s (1,647 kB/s)
Selecting previously unselected package libdbus-glib-1-2:amd64.
(Reading database ... 144487 files and directories currently installed.)
Preparing to unpack .../0-libdbus-glib-1-2_0.110-2_amd64.deb ...
Unpacking libdbus-glib-1-2:amd64 (0.110-2) ...
Selecting previously unselected package gconf2-common.
Preparing to unpack .../1-gconf2-common_3.2.6-4ubuntu1_all.deb ...
Unpacking gconf2-common (3.2.6-4ubuntu1) ...
Selecting previously unselected package libgconf-2-4:amd64.
Preparing to unpack .../2-libgconf-2-4_3.2.6-4ubuntu1_amd64.deb ...
Unpacking libgconf-2-4:amd64 (3.2.6-4ubuntu1) ...
Selecting previously unselected package gconf-service-backend.
Preparing to unpack .../3-gconf-service-backend_3.2.6-4ubuntu1_amd64.deb ...
Unpacking gconf-service-backend (3.2.6-4ubuntu1) ...
Selecting previously unselected package gconf-service.
Preparing to unpack .../4-gconf-service_3.2.6-4ubuntu1_amd64.deb ...
Unpacking gconf-service (3.2.6-4ubuntu1) ...
Selecting previously unselected package xvfb.
Preparing to unpack .../5-xvfb_2%3a1.19.6-1ubuntu4.4_amd64.deb ...
Unpacking xvfb (2:1.19.6-1ubuntu4.4) ...
Setting up gconf2-common (3.2.6-4ubuntu1) ...

Creating config file /etc/gconf/2/path with new version
Setting up libdbus-glib-1-2:amd64 (0.110-2) ...
Setting up xvfb (2:1.19.6-1ubuntu4.4) ...
Setting up libgconf-2-4:amd64 (3.2.6-4ubuntu1) ...
Setting up gconf-service-backend (3.2.6-4ubuntu1) ...
Setting up gconf-service (3.2.6-4ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [14]:
import plotly.express as px
from plotly.offline import plot

fig = px.histogram(dating, x = "goal", color_discrete_sequence = ['#ff69b4'], title = 'Primary Goal of Participating', width=700, height=600)

fig.show(renderer="svg")

Very few participants were actually looking for a serious relationship. Most participants just wanted to have fun and meet new people.

# What are the participants studying in school?

In [ ]:
# replacing all of the numerical values with their categorical value, to make the histograms clearer/easier to read

dating2 = dating['field_cd'].replace(1, 'Law', inplace=True)
dating2 = dating['field_cd'].replace(2, 'Math', inplace=True)
dating2 = dating['field_cd'].replace(3, 'Social Science/Psychology', inplace=True)
dating2 = dating['field_cd'].replace(4, 'Medical Science/Pharma/Bio-Tech', inplace=True)
dating2 = dating['field_cd'].replace(5, 'Engineering', inplace=True)
dating2 = dating['field_cd'].replace(6, 'English/Writing/Journalism', inplace=True)
dating2 = dating['field_cd'].replace(7, 'History/Religion/Philosophy', inplace=True)
dating2 = dating['field_cd'].replace(8, 'Business/Econ/Finance', inplace=True)
dating2 = dating['field_cd'].replace(9, 'Education', inplace=True)
dating2 = dating['field_cd'].replace(10, 'Biological Sciences/Chemistry/Physics', inplace=True)
dating2 = dating['field_cd'].replace(11, 'Social Work', inplace=True)
dating2 = dating['field_cd'].replace(12, 'Undecided', inplace=True)
dating2 = dating['field_cd'].replace(13, 'Political Science/International Affairs ', inplace=True)
dating2 = dating['field_cd'].replace(14, 'Film', inplace=True)
dating2 = dating['field_cd'].replace(15, 'Fine Arts/Arts Administration', inplace=True)
dating2 = dating['field_cd'].replace(16, 'Languages', inplace=True)
dating2 = dating['field_cd'].replace(17, 'Architecture', inplace=True)
dating2 = dating['field_cd'].replace(18, 'Other', inplace=True)

In [ ]:
dating['field_cd'].value_counts()  # counting frequency across column values

In [ ]:
dating['field_of_study'] = dating['field_cd'] # changing the column name

In [ ]:
# Field of Study Histogram

fig = px.histogram(dating, x = "field_of_study", color_discrete_sequence = ['#dc143c'], title = 'Field of Study')

fig.show(renderer="svg")

The top three fields of study were Business/Finance, Science (Chemistry/Physics), and Engineering!

# How old were the participants?

In [ ]:
dating['age'].value_counts().head() # counting the frequency of age values

In [ ]:
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')
from pandas.testing import assert_frame_equal
import matplotlib.pyplot as plt

plt.figure(figsize=(11, 8))

# plotting the frequency distribution

sns.distplot(dating['age'], kde = False, color = 'hotpink')

Most participants were in their mid to late 20's!

# Where were the participants from?

In [ ]:
dating['from'].value_counts().head(20) # counting the fequency of each location

In [ ]:
# replacing values to fall under the right state/country category

dating['from'] = dating['from'].replace(['bronx science', 'long island, ny', 'manhattan', 'westchester, ny','ny','westchester county, n.y.', 'nyc (staten island)', 'queens', 'hastings-on-hudson, ny', 'staten island', 'great neck, ny', 'westchester, new york', 'upstate new york','nyc', 'new york city', 'rochester, ny','buffalo, ny','pougkeepsie ny', 'brooklyn', 'brooklyn, ny', 'brooklyn ny', 'long island', 'new york, ny'], 'new york') 
dating['from'] = dating['from'].replace(['nj', 'cherry hill, nj', 'northern new jersey', 'south orange, new jersey', 'born in montana, raised in south jersey (nr. philadelphia', 'born in montana, raised in south jersey (nr. philadelphia)'], 'new jersey') 
dating['from'] = dating['from'].replace(['san francisco, ca', 'san francisco(home)/los angeles(undergrad)', 'sf bay area, ca', 'san francisco bay area', 'palo alto, california', 'palo alto, ca','berkeley, ca', 'los angeles', 'california (west coast)', 'palm springs, california', 'santa barbara, california', 'los angeles, ca', 'san francisco', 'san diego', 'san diego, ca', 'southern california', 'northern california', 'torrance, ca'], 'california')
dating['from'] = dating['from'].replace(['state college, pa', 'pittsburgh, pa', 'erie, pa', 'pa', 'philadelphia, pa'], 'pennsylvania') 
dating['from'] = dating['from'].replace(['new delhi', 'new delhi, india', 'bombay, india'], 'india') 
dating['from'] = dating['from'].replace(['brandeis university', 'woburn, ma', 'boston, ma', 'cambridge, ma', 'cambridge, massachusetts', 'lexington, ma'], 'massachussetts') 
dating['from'] = dating['from'].replace(['ann arbor, mi'], 'michigan') 
dating['from'] = dating['from'].replace(['atlanta, ga', 'georgia, usa'], 'georgia') 
dating['from'] = dating['from'].replace(['clevel,', 'cincinnati, oh', 'cincinnati, ohio'], 'ohio') 
dating['from'] = dating['from'].replace(['wash dc (4 yrs)', 'dc','washington dc metro region', 'washington state', 'washington, d.c.', 'washington, dc', 'washington dc'], 'washington') 
dating['from'] = dating['from'].replace(['portland, oregon', 'portland, or'], 'oregon') 
dating['from'] = dating['from'].replace(['detroit, michigan, usa', 'detroit suburbs', 'ann arbor'], 'michigan') 
dating['from'] = dating['from'].replace(['dallas, texas', 'austin, tx'], 'texas') 
dating['from'] = dating['from'].replace(['albuquerque, nm'], 'new mexico') 
dating['from'] = dating['from'].replace(['st. louis, mo', 'kansas city, missouri'], 'missouri') 
dating['from'] = dating['from'].replace(['milwaukee, wisconsin'], 'wisconsin') 
dating['from'] = dating['from'].replace(['nashville, tn', 'memphis, tn', 'tn'], 'tennessee') 
dating['from'] = dating['from'].replace(['tuscaloosa, alabama'], 'alabama') 
dating['from'] = dating['from'].replace(['greenwich, ct'], 'connecticut') 
dating['from'] = dating['from'].replace(['maryl,', 'silver spring, md', 'md'], 'maryland') 
dating['from'] = dating['from'].replace(['burlington, vermont'], 'vermont') 
dating['from'] = dating['from'].replace(['minneapolis, mn'], 'minnessota') 
dating['from'] = dating['from'].replace(['milano, italy', 'milan - italy'], 'italy') 
dating['from'] = dating['from'].replace(['p. r. china', 'shanghai, china'], 'china') 
dating['from'] = dating['from'].replace(['bowdoin college'], 'maine') 
dating['from'] = dating['from'].replace(['nyc-6 yrs. grew up in nebraska'], 'nebraska') 
dating['from'] = dating['from'].replace(['manila, philippines'], 'phillippines') 
dating['from'] = dating['from'].replace(['bogota, colombia', 'colombia, south america'], 'colombia') 
dating['from'] = dating['from'].replace(['engl,', 'london, uk'], 'united kingdom') 
dating['from'] = dating['from'].replace(['ottawa, canada', 'toronto, canada'], 'canada') 
dating['from'] = dating['from'].replace(['sofia, bg'], 'bulgaria') 
dating['from'] = dating['from'].replace(['tokyo, japan'], 'japan') 
dating['from'] = dating['from'].replace(['/', ' / ', '  / ', '  , ', ',  '], ', ', regex = True) 
dating['from'] = dating['from'].replace(['asia, singapore'], 'singapore') 
dating['from'] = dating['from'].replace(['taipei, taiwan'], 'taiwan') 
dating['from'] = dating['from'].replace(['uncc'], 'north carolina') 
dating['from'] = dating['from'].replace(['and', '&'], ', ', regex = True) 


# replacing the value in this row because it's a zip code

dating['from'] = dating['from'].str.replace('94115', 'california')

In [ ]:
# creating a dataframe of the column 'from' so that I can plot the top 10 locations

data = pd.DataFrame(dating['from'].value_counts().head(10))

data

In [ ]:
# plotting the location counts

plt.figure(figsize=(11, 8))

pd.value_counts(dating['from']).head(10).plot.bar(color = '#dc143c', title = 'Where the Participants Were From')

A lot of the participants were from New York, California, and Jersey. There were also people from all over the world that participated, such as China, India, and Italy.

# What do people look for in a partner? What attributes are most important to men and women?

In [ ]:
# creating a new dataframe with only the columns where the attributes were rated on how important they are to the participants

importance = (dating.filter(['attr1_1','shar1_1','intel1_1','amb1_1','sinc1_1','fun1_1']))

# plotting the means of all of the columns in the dataframe

plt.figure(figsize=(11, 8))

importance.mean().plot.bar(color = '#ff69b4')

**Attractiveness**, **intelligence**, and how **fun** their partner is, are most important to the participants.

In [ ]:
# box chart showing how much women and men care about AMBITION in a potential partner when it comes to dating  

fig = px.box(data_frame = dating, x = 'gender', y = 'amb1_1', title = 'Importance of Ambition', width=700, height=600, color_discrete_sequence = ['#ff69b4'] ) 

fig.show(renderer="svg")

I notice an outlier on the male side!

In [ ]:
dating[dating['amb1_1']>50] # finding the rows with outliers

In [ ]:
dating = dating[dating.amb1_1 != 53] # removing every row in the amb1_1 column with the value 53 so that there are no longer outliers

In [ ]:
# reprinting the box plot now that the outlier is removed

fig = px.box(data_frame = dating, x = 'gender', y = 'amb1_1', title = 'Importance of Ambition', width=700, height=600, color_discrete_sequence = ['#ff69b4']) 

fig.show(renderer = "svg")

Women seem to care a bit more about ambition than men!

In [ ]:
# box chart showing how much women and men care about ATTRACTIVENESS in a potential partner when it comes to dating  

fig = px.box(data_frame = dating, x = 'gender', y = 'attr1_1', title = 'Importance of Attractiveness', width=700, height=600, color_discrete_sequence = ['#ff69b4']) 

fig.show(renderer="svg")

On average, it seems like men care more about looks than women do!

In [ ]:
# box chart showing how much women and men care about having SHARED INTERESTS when it comes to dating 

fig = px.box(data_frame = dating, x = 'gender', y = 'shar1_1', title = 'Importance of Having Shared Interests', width=700, height=600, color_discrete_sequence = ['#ff69b4'])

fig.show(renderer="svg")

On average, it seems like women care more about having shared interests than men!

## **How important is being the same race?**

In [ ]:
# replacing the numerical values with their categorical value

dating['race'].replace(1, 'Black/African American', inplace = True)
dating['race'].replace(2, 'European/Caucasian-American', inplace = True)
dating['race'].replace(3, 'Latino/Hispanic American', inplace = True)
dating['race'].replace(4, 'Asian/Pacific Islander/Asian-American', inplace = True)
dating['race'].replace(5, 'Native American', inplace = True)
dating['race'].replace(6, 'Other', inplace = True)

In [ ]:
# histogram displaying the races of the participants 

fig = px.histogram(dating, x = "race", color_discrete_sequence = ['#dc143c'], title = 'Participant Races', width=700, height=600)

fig.show(renderer="svg")

Most participants were either **European/Caucasian-American** or **Asian/Pacific-Islander/Asian-American**.

In [ ]:
fig = px.histogram(dating, x = "imprace", color_discrete_sequence = ['#ff69b4'], title = 'How Important is Race from 0 - 10?', width=700, height=600)

fig.show(renderer="svg")

For a lot of participants, it doesn't seem like race is a huge factor!

# Exploring Matches! How did people rate their dates? What does this say about what they *really* value/find important in a partner?

In [ ]:
dating['match'].value_counts()

There were **1,379** matches out of **8,368** dates!

In [ ]:
# filtering out a new dataframe so I can plot the distribution of the rating of their dates by match (1) and no match (0)

matchesdf = (dating.filter(['amb_o','intel_o','sinc_o','fun_o','attr_o','shar_o', 'match']))

In [ ]:
import plotly.graph_objects as go

df = pd.DataFrame(data)

# convert to long

dfl = matchesdf.set_index('match').stack().reset_index().rename(columns={'level_1': 'groups', 0: 'values'})

plt.figure(figsize=(11, 8))

# plot

p = sns.boxplot(x='groups', y='values', data=dfl, hue='match', color = 'red')
plt.show()

It looks like shared interests and fun are going to be significant. There is a big difference in the mean of fun for the dates that ended up in a match vs the mean of fun for the dates that ended up without a match. Same for shared interests. For ambition the mean was the same, so it doesn't seem like ambition matters much.

In [ ]:
# creating a new dataframe filtering out columns that I want to place in a heatmap

newdf = (dating.filter(['round', 'match', 'age', 'race', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o',
                      ], axis = 1))

newdf.head()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 7))

# Calculate correlations of the new dataframe
corr = newdf.corr()
 
# Heatmap
sns.heatmap(corr, )

It looks like how *attractive and fun their date is, and how much they have in common with them (shared interests)* are most highly correlated with getting a match.

Other things to note:


*  intelligence and ambition are correlated
*  attractiveness and fun are correlated
*  shared interests and fun are correlated

## Logistic Regression

In [ ]:
dating = dating.dropna()  # dropping all rows with NaN values so that the regression can run

In [ ]:
# replacing race with their numerical values so that the regression will run 

dating['race'].replace('Black/African American', 1,  inplace = True)
dating['race'].replace('European/Caucasian-American', 2, inplace = True)
dating['race'].replace('Latino/Hispanic American', 3,  inplace = True)
dating['race'].replace('Asian/Pacific Islander/Asian-American', 4, inplace = True)
dating['race'].replace('Native American', 5, inplace = True)
dating['race'].replace('Other', 6, inplace = True)

In [ ]:
from sklearn.linear_model import LogisticRegression
from scipy import stats

# my independent variables are age, race, and what each participant rated their date among the 6 attributes

X2 = dating[['attr_o','sinc_o','intel_o','fun_o','amb_o','shar_o','age','race',]]
y = dating['match']

# fitting the model 

dating_log_model = LogisticRegression(solver='liblinear')
dating_log_model.fit(X2,y)
dating_log_model.score(X2,y)

The model has 82% accuracy!

In [ ]:
from sklearn.feature_selection import chi2

# getting the p-values of all of the independent variables

scores, pvalues = chi2(X2, y)

In [ ]:
p_values = {'X2':X2.columns, 'pvalues':pvalues}

# creating a new dataframe of all of the p-values to visualize them  

result = pd.DataFrame(p_values)

print(result)

Like the analysis suggested, **shared interests**, **fun**, and **attractiveness** are the most significant variables! Ambition and intelligence are the **least** significant of the 6 rated attributes.

## Good news! If you're not someones physical type, it doesn't seem to matter as much as how much you have in common in terms of interests and how fun you are to be around!

Conclusion:

The participants found attractiveness, intelligence, and fun to be the most important attributes to them when asked (in that order), however, their decisions when it came to matching said something else. Attractiveness isn't as important as the participants considered it to be. The regression reveals that having ***shared interests*** holds more weight than both attractiveness and fun, and intelligence isn't as important as they thought it was to them!


So if you find yourself on Hinge, Bumble, or Tinder:

*   include pictures of your adventures, to show what kind of person you are to be around/ how fun you are
*   include pictures of you engaging in your hobbies (whether it's running, painting, etc.) so that people can see what you're interested in 
*   make sure to read bio's and prompts to get a glimpse into each person's 
interests and see if they align with yours... because, who knows...it could lead to a match!